/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(118, 11, 168);
}

li {
  float: left;
  font-weight: 700;
}

#indent-nav {
  padding: 14px 16px;
  margin-left: 25px;
  color: gold;
}

li a {
  display: block;
  margin-left: 25px;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(118, 11, 168);
}

.navbar {
  margin: 0 0 10px 0;
}