@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
  --primary-color: rgb(49, 5, 99);
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
}

div.msgSuccess {
  width: 420px;
  margin: 10px auto;
  padding: 13px;
  background-color: rgba(50, 205, 50, 0.3);
  border: 1px solid rgb(34, 139, 42);
}

div.msgErro {
  width: 420px;
  margin: 10px auto;
  padding: 13px;
  background-color: rgba(228, 48, 28, 0.301);
  border: 1px solid rgb(165, 42, 42);
}

.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 1px solid black;
}