@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 2px;
}

body {
  color: white;
  background-image: url('../img/background2.png');
  background-repeat: repeat;
  background-size: 550px;
}

input {
  padding: 5px 0 5px 15px;
  margin: 5px;
  width: 80%;
  border-radius: 20px;
  font-size: 20px;
}

button {
  background-color: #383227;
  width: 60%;
  margin: 10px 0 20px 0;
  padding: 5px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  color: white;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 3px;
}

h1 {
  color: #5a503d;
  text-shadow: 2px 3px 5px rgb(209, 185, 75);
  font-weight: bold;
  font-size: 50px;
}

h2, h4 {
  text-shadow: 2px 2px 4px black;
}

h4, p {
  margin: 0 0 0 36.5px;
}

.container {
  width: 50%;
  padding: 15px;
  margin: 10px;
  background-color: #6b5e48;
  border-radius: 44px 4px;
}

.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
}